<!-- O autoescape serve para converter caracteres perigosos
(como ") para o respectivo escape html (como &quot) -->
{% autoescape true %} 
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>SISAA</title>
        {% endblock %}
    </head>
    <body>
		{% block barra_superior %}
        {% endblock %}

    	{% block mensagens %}
    	{% endblock %}
    	
        {% block body %}
        
        {% endblock %}
    </body>
</html>
{% endautoescape %}